body{
    background: #F6F7FB;
    font-family: Roboto;
    color: #000000;
    font-size: 14px;
    line-height: 1;
}
h1{
   font-size: 25px;
   font-weight: 600;
}
.wraper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.page{
   flex: 1 1 auto;
}
[class*="__container"]{
   /* border: 1px solid #000000; */
   max-width: 1270px;
   margin: 0 auto;
   padding: 0 15px;
}
@media (max-width: 1209.98px){
   [class*="__container"]{
      max-width: 1080px;
   }
}
@media (max-width: 997.98px){
   [class*="__container"]{
      max-width: none;
   }
}
@media (max-width: 767.98px){
   [class*="__container"]{
      max-width: none;
   }
}
.header{
   background: #ffffff;
   box-shadow: 0 0 10px rgba(60, 84, 117, 15%);
}
@media (max-width: 963.98px){
   .header{
      padding: 15px 0;
   }
}
.header__container {
   display: flex;
   justify-content: space-between;
   min-height: 90px;
   align-items: center;
   /* padding: 20px 10px; */
}
@media (max-width: 767.98px){
   .header__container{
      flex-direction: column;
      gap: 15px;
   }
}

.header__profile {
   display: flex;
   align-items: center;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
   gap: 44px;
}
/* @media (max-width: 767.98px){
   .menu__list{
      flex-wrap: wrap;
      gap: 0;
   }
} */

.menu__item{
   width: 212px;
}
.menu__link {
   font-weight: 800;
   display: flex;
   justify-content: center;
   align-items: center;
   color: inherit;
   height: 50px;
   border: 1px solid #dbdbdb;
   border-radius: 5px;
}
.menu__link:hover{
   border-color: #F2AE4B;
   box-shadow: 0 0 10px rgba(60, 84, 117, 15%);
   color: #F2AE4B;
   transition: all 0.3s;
}

.menu__link.active{
   background: linear-gradient(90deg, #255390, #162970);
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   color: #ffffff;
}
.menu__link.active:hover{
   color: #F2AE4B;
   transition: all 0.3s;
}
@media (max-width: 1209.98px){
   .menu__list{
      gap: 15px;
      justify-content: center;
   }
   .menu__item{
      width: 180px;
   }
}
@media(max-width: 963.98px){
   .menu__item{
      max-width: fit-content;
   }
   .menu__link{      
      padding: 0 15px;
   }
}
@media(max-width: 536.98px){
   .menu__item{
      width: 180px;
      max-width: none;
   }
}
.profile__photo {
   width: 45px;
   height: 45px;
   border-radius: 50%;
}
.profile__name {
   padding-left: 10px;
   color: #828282;
}

/* =============================== */

.page__container{
   margin-top: 24px;
   
}
@media (max-width: 767.98px){
   .page__container{
      margin-top: 15px;

   }
}
.page__header{
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
}
@media (max-width: 767.98px){
   .page__header{
      margin-bottom: 15px;
      flex-direction: column;
      gap: 15px;
   }
}
.page__header-content{
   display: flex;
   align-items: center;
   gap: 42px;
}
@media (max-width: 767.98px){
   .page__header-content{
      flex-direction: column;
      gap: 15px;
   }
   .page__title{
      align-self: flex-start;
   }
}
.ticker__item{
   display: flex;
   align-items: center;
   opacity: .5;
}
.ticker__item:hover{
   opacity: 1;
   transition: opacity 0.3s;
}
.ticker__item img{
   margin-right: 6px;
}
.ticker__list{
   display: flex;
   gap: 25px;
}
@media (max-width: 767.98px){
   .ticker__list{
      flex-wrap: wrap;
   }
}
p.ticker__text{
   font-weight: 500;
   display: flex;
   align-items: center;
   font-size: 18px;
}
.ticker__text > span.money{
   font-size: 25px;
   font-weight: 400;
   margin-left: 8px;
}
@media (max-width: 931.98px){
   p.ticker__text{
      font-size: 13px;
   }
   .ticker__text > span.money{
      font-size: 16px;
   }
   .page__header-content{
      gap: 15px;
   }
   .page__title{
      font-size: 16px;
   }
}
.page__btn{
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(90deg, #255390, #162970);
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   color: #ffffff;
   border-radius: 20px;
   padding: 13px 37px;
   height: 40px;
   width: 187px;
}
.page__btn:hover{
   color:#F2AE4B;
   transform: translateY(-2px);
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   transition: all 0.3s;
}
@media (max-width: 767.98px){
   .page__btn{
      max-width: 400px;
      align-self: center;
   }
}
/* =================== */
.page__cards{
   display: grid;
   grid-template-columns: repeat(4, auto);
   gap: 26px;
}
@media (max-width: 1264.98px){
   .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
}
.cards__item{
   width: 290px;
   position: relative;
}
@media (max-width: 767.98px){
   .cards__item{
      width: 99%;
   }
}
.cards__content{
   border: 1px solid #F2AE4B;
   border-radius: 5px;
   background: #ffffff;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   margin-bottom: 13px;
}
.main-card::after{
   content: "";
   width: 30px;
   height: 30px;
   background: url("/img/cards-more-icon.svg") no-repeat;   
   top: 16px;
   right: 8px;
   position: absolute;
   display: inline-block;
}
.main-card:hover::after{
   cursor: pointer;
   transform: translateY(2px);
   /* box-shadow:  0 0 15px rgba(60, 84, 117, 15%); */
   transition: all 0.3s;
}
.cards__header{
   font-size: 16px;
   color: #828282;
   padding-bottom: 11px;
}
.cards__wraper{
   padding: 18px 25px;
}
.crypto__wraper{
   display: flex;
   justify-content: space-between;
   padding: 16px 21px 15px;
}
.crypto__content{
   border: 1px solid #ffffff;
   border-radius: 5px;
   background: #ffffff;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   margin-bottom: 13px;
}
.crypto__content:hover{
   border-color: #F2AE4B;
}
.cards__currency{
   position: relative;
}
.currency-text::before{
   content: "";
   width: 7px;
   height: 7px;
   background: #2F80ED;   
   border-radius: 50%;
   top: 9px;
   left: 0;
   position: absolute;
   display: inline-block;
}
p.currency-text{
   margin-left: 13px;
   font-size: 24px;
   font-weight: 800;
}
p.hash-text{
   margin-left: 10px;
   font-size: 24px;
   font-weight: 800;
}
p.currency-text > span, p.hash-text > span{
   font-size: 14px;
   margin-left: 6px;
}
p.usd-text{
   margin-top: 11px;
   color: #4F4F4F;
   font-weight: 800;
}
p.coin-text{
   margin-top: 13px;
   color: #4F4F4F;
   font-weight: 800;
}
.cards__btn{
   display: flex;
   justify-content: space-between;
}
a.binance-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   background: #ffffff;
   border: 1px solid #F2AE4B;
   border-radius: 5px;
   min-width: 143px;
   height: 36px;
   padding: 6px;
}
a.binance-btn:hover, a.buy-btn:hover{
   transform: translateY(-2px);
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   transition: all 0.3s;
}
a.buy-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #00D56E;
   border-radius: 5px;
   max-width: 143px;
   height: 36px;
   padding: 6px;
   background: #00D56E;
}
.cards__footer{
   background: #ffffff;
   border-radius: 5px;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   padding: 10px;
}
.cards__footer-content{
   display: flex;
   align-items: center;
   gap: 10px;
}
.cards__footer-content p{
   font-weight: 500;
}
.cards__footer-content span{
   color:#828282;
   font-size: 12px;
}
.cards__hash{
   display: flex;
   align-items: center;
}
/* ======= wallet ========== */

.wallet__container{
   display: flex;
   gap: 37px;
   padding: 0;
   margin: 40px 0;
}
.wallet__title{
   margin-bottom: 10px;
   position: relative;
   font-size: 14px;
   color: #828282;
   font-weight: 500;
}
.green-dot::before, .blue-dot::before, .orange-dot::before{
   content: "";
   width: 7px;
   height: 7px;
   background: #27AE60;   
   border-radius: 50%;
   top: 32px;
   left: 0;
   position: absolute;
   display: inline-block;
}
.blue-dot::before{
   background: #2F80ED;
}
.orange-dot::before{
   background: #F2AE4B;
}

.wallet__costs p{
   color:#000000;
   font-weight: 700;
   font-size: 25px;
   padding-left: 13px;
}
.wallet__costs span{
   color: #828282;
   font-size: 12px;
}

/* ======== balgraph ========= */

.balgraph__content{
   display: flex;
   flex-wrap: wrap;
   gap:25px;
}
.balance{
   max-width: 912px;
   width: 100%;
   
}
.balance__title{
   margin-bottom: 10px;
}
p.balance__text, p.prediction__text{
   font-size: 15px;
   font-weight: normal;
   color:#828282;
}
.balance__content{
   background: #ffffff;
   border-radius: 5px;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   padding: 20px;
  
}
.prediction{
   max-width: 303px;
   width: 100%;
}
@media (max-width: 767.98px){
   .prediction{
      max-width: none;
   }
}
.prediction__content{
   background: #ffffff;
   border-radius: 5px;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   padding: 24px 13px 20px 20px;
}
.prediction__title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 7px;
}
.prediction__icon{
   width: 18px;
}
.prediction__item{
   margin-bottom: 18px;

}
.prediction__term{
   color:#828282;
   font-weight: 700;
   font-size: 14px;
}
.prediction__value{
   font-weight: 700;
   font-size: 18px;
   padding: 10px 0 0 12px;
   position: relative;
}
.prediction__value::before{
   content: "";
   width: 5px;
   height: 5px;
   background: #255390;   
   border-radius: 50%;
   top: 16px;
   left: 0;
   position: absolute;
   display: inline-block;

}

.statistics{margin-top: 30px;}
.statistics__content{
   display: flex;
   gap: 25px;
}

@media (max-width: 767.98px){
   .statistics__content{
      flex-wrap: wrap;
      gap:15px;
   }
}

p.stats__text{
   font-size: 15px;
   font-weight: normal;
   color:#828282;
}
.stats__list{
   margin-top: 14px;
   display: flex;
   gap: 32px;
}
.stats__item{
   border: 1px solid #e0e0e0;
   padding: 13px 20px;
   border-radius: 5px;
   color:#828282;
}
.stats__btn{
   font-size: 17px;
}
.stats-active{
   background: #ffffff;
   border-color: #ffffff;
   font-weight: 700;
}
.stats-active > p{
   color: #255390;
}
.stats__item:hover{
   cursor: pointer;
   background: #ffffff;
   color:#255390;
   border-color: #255390;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
}
.stats__table{
   width: 915px;
   margin-top: 19px;
   background: #ffffff;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   color: #4F4F4F;
   border-radius: 5px;
   padding: 18px 21px 0 31px;
   
}
.stats__table .table__wraper{
   overflow-x: auto;
   width: 100%;
}
@media (max-width: 767.98px){
   .stats__list{
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
   }
}


.stats__table table{
   padding: 20px;
   border-collapse: collapse;

}
.stats__table th{
   color: #828282;
   font-weight: normal;
   font-size: 13px;
   text-align: left;
}
.stats__table th:hover{
   cursor: pointer;
   font-weight: 700;
}
.stats__table tr{
   height: 64px;
}
.stats__table tr.theader{
   height: 32px;
}
.stats__table td{
   border-top: 1px solid #828282;
   font-size: 15px;
   font-weight: 700;
}
.stats__table th{
   border-bottom: 1px solid #ffffff;
}
span.tbl-active, span.tbl-expire{
   font-size: 13px;
   color: #219653;
   font-weight: 500;
}
span.tbl-expire{
   color: #F2994A;
}
span.tbl-money{
   color: #828282;
   font-size: 16px;
   font-weight: normal;
   margin-left: 30px;
}
td.tbl-1col{
   color: #255390;
   width: 250px;
}
td.tbl-2col{
   width: 162px;
}
td.tbl-3col{
   width: 203px;
}
td.tbl-4col{
   font-size: 18px;
   font-weight: 700;
}
@media (max-width: 767.98px){
   .stats__table {
      display: none;
   }
   .balance{
      display: none;
   }
}
/* ================ */
.mycontacts__title{
   font-size: 15px;
   font-weight: normal;
   color:#828282;
}
.mycontacts__content{
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.mycontacts__list{
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 303px;
}
@media (max-width: 767.98px){
   .mycontacts{
      width: 100%;
   }
   .mycontacts__list{
      width: 100%;
   }
}

.mycontacts__item{
   border: 1px solid transparent;
   background: #ffffff;
   border-radius: 5px;
   box-shadow:  0 0 15px rgba(60, 84, 117, 15%);
   padding: 15px;
}
.mycontacts__item:hover{
   border-color: #F2AE4B;
}
.mycontacts__head{
   display: flex;
   justify-content: space-between;

}
.mycontacts__value{
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   font-size: 13px;
   font-weight: 500;
}
.mycontacts__status{
   color: #219653;
}
.mycontacts__status-exp{
   color: #F2994A;
}
p.mycontacts__text{
   font-size: 15px;
   color:#4F4F4F;
   font-weight: 500;
}
.show-more-btn{
   color:#4F4F4F;
   font-size: 13px;
   border: 1px solid #E0E0E0;
   border-radius: 20px;
   padding: 9px 30px;
   width: 187px;
   text-align: center;
   align-self: center;
}
.show-more-btn:hover{
   cursor: pointer;
   border-color: #162970;
   color: #162970;
   background: #ffffff;
}
/* ============ */

.footer{
   
}
.footer__copy{
   font-size: 13px;
   color: #afafaf;
   padding: 25px;
}
.footer__copy:hover{
   color: #2F80ED;
   cursor: pointer;
}